* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

:root {
  --primary-color: #83B4FF;
  --secondary-color: #8DECB4;
}

body {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

*::-moz-selection {
  background-color: var(--secondary-color);
  color: #fff;
}

*::selection {
  background-color: var(--secondary-color);
  color: #fff;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

h1,
.h1 {
  font-size: 68px;
}

h2,
.h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 30px;
}

h5,
.h5 {
  font-size: 25px;
}

del {
  margin-right: 30px;
}

input,
select,
textarea {
  padding: 8px 15px;
  min-width: 50px;
  border: none;
  background: transparent;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #fff;
  opacity: 1;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

form {
  background-color: var(--primary-color);
  color: #fff;
}

input[type=submit] {
  background-color: var(--secondary-color);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
input[type=submit]:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.topForm {
  max-width: 250px;
  display: flex;
}

.bottomForm {
  display: flex;
  margin-bottom: 30px;
}
.bottomForm input {
  padding: 15px;
}
.bottomForm input[type=submit] {
  width: 80px;
}

.head-para {
  font-size: 25px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  padding-top: 70px;
  padding-bottom: 70px;
}

.whiteText {
  color: #fff;
}

.yellowBack {
  background-color: var(--primary-color);
}

.green {
  color: var(--secondary-color);
}

.custBtn {
  color: var(--secondary-color);
  position: relative;
  padding-right: 25px;
  transition: all 0.3s ease-in-out;
}
.custBtn::before, .custBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7px;
  display: block;
  width: 2px;
  height: 14px;
  background-color: var(--secondary-color);
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.custBtn::after {
  transform: translateY(-50%) rotate(90deg);
}
.custBtn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.custBtn:hover::before, .custBtn:hover::after {
  top: 0;
  right: 0;
  width: 100%;
  background: transparent;
  border-top: solid 2px var(--secondary-color);
  border-right: solid 2px var(--secondary-color);
  transform: none;
  width: 100%;
  height: 100%;
}

.btn {
  font-size: 20px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  display: inline-block;
  min-width: 200px;
  text-transform: capitalize;
  text-align: center;
}
.btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.green-btn {
  font-size: 20px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  display: inline-block;
  min-width: 200px;
  text-transform: capitalize;
  text-align: center;
}
.green-btn:hover {
  background-color: #fff;
  color: var(--secondary-color);
}

.mainHeader {
  background-color: #648bc7;
  color: #fff;
  z-index: -2;
}

.mainHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.mainNav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mainNav > ul li {
  list-style-type: none;
}
.mainNav > ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 0;
}
.mainNav > ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: block;
  background-color: transparent;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  transform: scaleY(1.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.mainNav > ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: block;
  background-color: #fff;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.mainNav > ul li:hover a {
  color: var(--secondary-color);
}
.mainNav > ul li:hover a::before, .mainNav > ul li:hover a::after {
  opacity: 1;
  transform: scaleY(1);
}

.bannerDiv {
  background-color: var(--primary-color);
  color: #fff;
}
.bannerDiv .banCont .btn {
  background-color: transparent;
  border-color: #fff;
}
.bannerDiv .banCont .btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.bannerDiv .banCont .banBtnDiv {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.videoDiv {
  width: 80%;
  aspect-ratio: 1/1;
  margin: auto;
  position: relative;
  margin-bottom: 8%;
}

.videoDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: block;
  opacity: 0.6;
}

.videoDiv::after {
  content: "";
  position: absolute;
  bottom: -8%;
  left: -8%;
  width: 50%;
  height: 50%;
  background-color: var(--primary-color);
  display: block;
  z-index: -1;
}

.iconFlex, .footIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.iconFlex > *, .footIcon > * {
  font-size: 20px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  display: inline-block;
  min-width: 200px;
  text-transform: capitalize;
  text-align: center;
  min-width: auto;
  padding: 0;
  width: 40px;
  line-height: 36px;
}
.iconFlex > *:hover, .footIcon > *:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  transform: scale(1.2);
}

.rating {
  background-image: url(../images/back1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.rating::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: block;
  opacity: 0.6;
}

.bigIco {
  font-size: 100px;
  margin-bottom: 30px;
}

.rateNum {
  margin-bottom: 10px;
  font-weight: 400;
}

.postDiv {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px #000000;
}
.postDiv img {
  width: 100%;
  height: auto;
}
.postDiv .postCont {
  padding: 15px;
}

.foot {
  background-color: #000000;
}
.foot ul {
  padding: 0;
}
.foot ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.foot ul li a {
  color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
}
.foot ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.foot ul li a:hover {
  background-position: 0%;
}
.foot ul li a:hover::before {
  width: 100%;
}

.footIcon {
  justify-content: end;
}
.footIcon > * {
  background-color: #fff;
  color: #000000;
  border-color: #fff;
}/*# sourceMappingURL=style.css.map */